{% extends "base.html" %}

{% block title %}
O meni
{% endblock title %}


{% block naslov %} O meni {% endblock naslov %}

{% block vsebina %}

<link rel="stylesheet" href="/assets/css/omeni.css">

<p><strong>Kraj:</strong>Radomlje</p>
<p><strong>Starost:</strong>25</p>
<p><strong>Hobi:</strong>Gaming, Košarka, itd...</p>
<p><strong>Vrsta tipkovnice:</strong>Mehanična!!!</p>

<img width="250" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/11039247_10204439327051008_4993617202335526075_n.jpg?oh=88d06c3acb19f44727d515c7dbb087bf&oe=596AD1E9">

{% endblock vsebina %}
